$angular-sandbox-primary: (
    50 : #e5f4f3,
    100 : #bee4e1,
    200 : #93d3cd,
    300 : #67c1b8,
    400 : #47b3a9,
    500 : #26a69a,
    600 : #229e92,
    700 : #1c9588,
    800 : #178b7e,
    900 : #0d7b6c,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$angular-sandbox-accent: (
    50 : #f6fbfb,
    100 : #e8f5f4,
    200 : #d9efed,
    300 : #c9e9e6,
    400 : #bee4e0,
    500 : #0d7b6c,
    600 : #abdbd7,
    700 : #a2d7d2,
    800 : #99d2cd,
    900 : #8acac4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f6fffe,
    A700 : #dcfffc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$angular-sandbox-warn: (
    50 : #fce3e6,
    100 : #f8b8c0,
    200 : #f48996,
    300 : #ef596b,
    400 : #eb364c,
    500 : #e8122c,
    600 : #e51027,
    700 : #e20d21,
    800 : #de0a1b,
    900 : #d80510,
    A100 : #ffffff,
    A200 : #ffcecf,
    A400 : #ff9b9e,
    A700 : #ff8185,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);